<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark footbar">   
        <a class="nav-link" href="/home"><i class="fas fa-igloo"></i> Home </a>      
        <p class="display-7 navbar-text footbar"> &copy; Copyright 2021. All Rights reserved.</p>      
    </nav>
  </footer>