
<main clas="container ">
    <div class="jumbotron space2">        
        <h1 class="display-5 b-color"> <%= title %> </h1>  
        <h3>Any questions? Send me an e-mail</h1>     
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">Write your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
    </div>
  </main> 

