

<div class="container">
    <div class="card" style="width: 50rem;">
        <img src="/public/Assets/images/Blue pandarium.png" class="card-img-top"  alt="...">
        <div class="card-body">
          <h2 class="card-title">Welcome to my <%= title %> page</h2>
          <p class="card-text">My name is Andy Navarro Zag.</p>
          <a href="/about" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
