

<div class="container">
    <div class="card" style="width: 80rem;">
        <img src="Assets/images/bluepandarium2.png" class="card-image"  width="50%" alt="...">
        <div class="card-body">
          <h1 class="card-title g-color">Welcome to my <%= title %> page</h1>
          <h5 class="card-text b-color">My name is Andy Navarro Zag.</h5>
          <p class="card-text">I'm a Mechatronics Engineer, who is currently studying Game Programming at Centennial College.</p>
          <a href="/about" class="btn btn-primary main-button">About me</a>
        </div>
      </div>
</div>
