<div class="accordion space " id="accordionExample">
    <div class="accordion-item ">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button g-color back-color" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          VEX Robotics World Championship
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="Assets/images/projects1.jpg" class="card-image bloqueo"  width="30%" alt="..."> 
          <strong>Robotics Competition</strong> As a Computers and Robotics teacher, I had the opportunity to participate in various tournaments as a coach for my students. In 2019, thanks to the fact that we won the National VEX tournament in Colombia, we had the opportunity to go to the World Cup held in Kentucky, Lousville, United States.
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed g-color back-color" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Emparapetation - Global Game Jam
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="Assets/images/emparapetation.png" class="card-image bloqueo"  width="30%" alt="..."> 
          <strong>Emparapetation - The Game.</strong> It was a game made in collaboration with a group of friends at Global Game Jam 2020. Its basic premise is that you are a handyman locked up at a hotel fixing electric wires, water pipes and so more ... And all you have is your duct tape! Surviving the dangers of your hearth ...
          To see more information: https://v3.globalgamejam.org/2020/games/emparapetation-4
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed g-color back-color" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Future Projects
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="Assets/images/Working.png" class="card-image bloqueo"  width="30%" alt="...">
          <strong>Working on it.</strong> In 2019, after finishing my degree in mechatronics engineering, I began my studies in graphic design, where I realized that I liked programming, that is why right now I find several project ideas, but first I want to concentrate on learning, to start putting them in motion.
        </div>
      </div>
    </div>
  </div>