<main clas="container ">
    <div class="jumbotron space2">        
        <h1 class="display-5 b-color"> <%= title %> </h1>  
        <h3>Skills</h1>     
            <ul>
                <li>Bilingual (Spanish and English)</li>
                <li>SCRUM</li>
                <li>Adobe Creative Cloud tools</li>
                <li>C++, MATLAB, HTML/CSS, Arduino, ladder, LabVIEW, Proteus, LaTeX</li>
                <li>SolidWorks, Blender</li>
                <li>Microsoft Office 365 Suite</li>
            </ul>
    </div>
  </main>  