
<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Assets/images/colombia.png" class="d-block space" alt="...">
        <div class="carousel-caption d-none d-md-block carrusel-card">
          <h5 class="b-color">About me</h5>
          <p class="l-text">I'm 25 years old. I'm from Colombia and I'm currently living in Canada. <br>My 3 basic principles are: Freedom, Simplicity and Structure.<br><a href="Assets/images/CV_ACNZ EN.pdf">Resume</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="Assets/images/desert.png" class="d-block space"  alt="...">
        <div class="carousel-caption d-none d-md-block carrusel-card">
          <h5 class="b-color">Passions</h5>
          <p class="l-text">I love traveling and above all being able to learn about new cultures, <br>how they think and what is their way of seeing the world.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="Assets/images/teacher.png" class="d-block space"  alt="...">
        <div class="carousel-caption d-none d-md-block carrusel-card">
          <h5 class="b-color">Education</h5>
          <p class="l-text">I was a Computers & Robotics teacher for 3 years while living in Colombia. <br>I have always considered that education is the foundation of any society..</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="Assets/images/design.png" class="d-block space"  alt="...">
        <div class="carousel-caption d-none d-md-block carrusel-card">
          <h5 class="b-color">Hobbies</h5>
          <p class="l-text">One of my favorite hobbies is carpentry, <br>I usually make the prototype in SolidWorks and then in the company of my father, we do the cuts and the assembly.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>